# Imports

In [1]:
import os

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn import tree

from src.pre_processing.macros import column_groups, DATA_PATH, DATA_SPLIT_PATH, ORIGINAL_DATASET_NAME

# Loading

In [2]:
df = pd.read_csv(
    os.path.join(DATA_SPLIT_PATH, "family_questionnaire.csv"), low_memory=False
)
df = df.set_index("id_student")
df

,f0,f1n,f2an,f2bn,f3a,f3b,mother_education,father_education,f4a,f4b,...,f33c,f33d,f33e,f33f,f33g,f33h,f34,household_income_q,nhousehold,ESCS
id_student,,,,,,,,,,,,,,,,,,,,,
1,1.0,3.0,43.0,47.0,7.0,3.0,4.0,2.0,1.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.235340
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,4.0,45.0,41.0,3.0,5.0,2.0,4.0,3.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.261451
4,1.0,4.0,39.0,41.0,5.0,5.0,4.0,4.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.787122
5,2.0,4.0,39.0,41.0,9.0,7.0,4.0,4.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.151773
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83853,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83854,1.0,3.0,45.0,44.0,7.0,7.0,4.0,4.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,9.0,4.0,NaN,0.761954
83855,2.0,4.0,40.0,42.0,5.0,5.0,4.0,4.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,2.0,NaN,0.633218
83856,1.0,5.0,40.0,NaN,2.0,NaN,1.0,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,10.0,NaN,NaN,-1.506239
83857,1.0,5.0,41.0,51.0,4.0,3.0,3.0,2.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,3.0,1.0,NaN,-0.309953

In [3]:
# Load identifiers and change float columns to int
ids = pd.read_csv(os.path.join(DATA_SPLIT_PATH, "identifiers.csv"), low_memory=False)
ids = ids.set_index("id_student")
int_identifiers = [col for col in ids.columns if col not in ["id_class_group"]]
ids[int_identifiers] = ids[int_identifiers].astype("Int64")
ids

,id_student_original,id_year,id_grade,id_class_group,id_school,id_student_16_19,id_school_16_19
id_student,,,,,,,
1,33613,2016,3,A,2415,14374,569
2,19294,2016,3,A,1842,8001,273
3,19587,2016,3,NaN,1432,8142,82
4,29985,2016,3,A,2280,12800,505
5,6982,2016,3,A,2040,2606,390
...,...,...,...,...,...,...,...
83853,2500,2019,6,B,1278,<NA>,271
83854,5784,2019,6,A,1079,<NA>,78
83855,7708,2019,6,X,1486,3036,459
83856,18965,2019,6,B,1036,9913,36
83857,7652,2019,6,A,1173,5539,169

In [4]:
# Load identifiers and change float columns to int
scores = pd.read_csv(
    os.path.join(DATA_SPLIT_PATH, "student_scores.csv"), low_memory=False
)
scores = scores.set_index("id_student")
# int_identifiers = [col for col in ids.columns if col not in ["id_class_group"]]
# ids[int_identifiers] = ids[int_identifiers].astype('Int64')
scores

            score_MAT  level_MAT  score_LEN  level_LEN  score_ING  level_ING
id_student
1            564.8700        3.0   535.1500        3.0        NaN        NaN
2            388.3400        1.0   293.7000        1.0        NaN        NaN
3            386.5900        1.0   514.8100        3.0        NaN        NaN
4            487.7600        2.0   449.2500        2.0        NaN        NaN
5            709.7900        4.0   598.7200        3.0        NaN        NaN
...               ...        ...        ...        ...        ...        ...
83853        400.8625        2.0   446.6522        2.0   294.7474        1.0
83854        597.0243        3.0   632.6043        4.0   633.2966        4.0
83855        707.9254        4.0   400.2761        2.0   477.5056        2.0
83856        522.8511        3.0   656.1601        4.0   540.1122        3.0
83857        519.1200        3.0   426.1871        2.0   453.6854        2.0

[83857 rows x 6 columns]

In [5]:
ids = pd.merge(ids, scores, left_index=True, right_index=True)
df = pd.merge(ids, df, left_index=True, right_index=True)
df

,id_student_original,id_year,id_grade,id_class_group,id_school,id_student_16_19,id_school_16_19,score_MAT,level_MAT,score_LEN,...,f33c,f33d,f33e,f33f,f33g,f33h,f34,household_income_q,nhousehold,ESCS
id_student,,,,,,,,,,,,,,,,,,,,,
1,33613,2016,3,A,2415,14374,569,564.8700,3.0,535.1500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.235340
2,19294,2016,3,A,1842,8001,273,388.3400,1.0,293.7000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,19587,2016,3,NaN,1432,8142,82,386.5900,1.0,514.8100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.261451
4,29985,2016,3,A,2280,12800,505,487.7600,2.0,449.2500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.787122
5,6982,2016,3,A,2040,2606,390,709.7900,4.0,598.7200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.151773
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83853,2500,2019,6,B,1278,<NA>,271,400.8625,2.0,446.6522,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83854,5784,2019,6,A,1079,<NA>,78,597.0243,3.0,632.6043,...,NaN,NaN,NaN,NaN,NaN,NaN,9.0,4.0,NaN,0.761954
83855,7708,2019,6,X,1486,3036,459,707.9254,4.0,400.2761,...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,2.0,NaN,0.633218
83856,18965,2019,6,B,1036,9913,36,522.8511,3.0,656.1601,...,NaN,NaN,NaN,NaN,NaN,1.0,10.0,NaN,NaN,-1.506239
83857,7652,2019,6,A,1173,5539,169,519.1200,3.0,426.1871,...,NaN,NaN,NaN,NaN,NaN,NaN,3.0,1.0,NaN,-0.309953

# Analysis

## Utils

In [6]:
def print_statistics(columns):
    print("MISSING VALUES")
    # print(df[columns].isna().sum())
    # print()
    # print("Percentage")
    print(df[columns].isna().sum() / df.shape[0] * 100)
    # print()
    # print("DISTINCT VALUES")
    # print(df[columns].value_counts())
    # print()

    corr = df[
        columns
        + [
            "score_MAT",
            "level_MAT",
            "score_LEN",
            "level_LEN",
            "score_ING",
            "level_ING",
        ]
    ].corr()
    
    return corr

## f0

In [8]:
col = "f0"
print("OLD")
print(df[col].value_counts())
print(f"""Missing: {df[col].isna().sum()}""")
print()
print("NEW")
new_df = df[col].apply(
    lambda x: (
        "MOTHER"
        if x == 1
        else ("FATHER" if x == 2 else ("OTHER" if x == 3 else np.nan))
    )
)
print(new_df.value_counts())
print(f"Missing: {new_df.isna().sum()}")
new_df

OLD
f0
1.0    38950
2.0     9731
3.0      429
Name: count, dtype: int64
Missing: 34747

NEW
f0
MOTHER    38950
FATHER     9731
OTHER       429
Name: count, dtype: int64
Missing: 34747

id_student
1        MOTHER
2           NaN
3        MOTHER
4        MOTHER
5        FATHER
          ...
83853       NaN
83854    MOTHER
83855    FATHER
83856    MOTHER
83857    MOTHER
Name: f0, Length: 83857, dtype: object

## f5a, f5b

In [9]:
for col in ["f5a", "f5b"]:
    print("OLD")
    print(df[col].value_counts())
    print(f"""Missing: {df[col].isna().sum()}""")
    print()
    print("NEW")
    new_df = df[col].apply(
        lambda x: (
                "CANARY_ISLANDS"
                if x == 1
                else (
                    "SPAIN_NO_CANARY_ISLANDS"
                    if x == 2
                    else (
                        "ANOTHER_EU"
                        if x == 3
                        else ("ANOTHER_NON_EU" if x == 4 else np.nan)
                    )
                )
            )
    )
    print(new_df.value_counts())
    print(f"Missing: {new_df.isna().sum()}")
    new_df

OLD
f5a
1.0    39836
2.0     6966
4.0     6827
3.0     2324
Name: count, dtype: int64
Missing: 27904

NEW
f5a
CANARY_ISLANDS             39836
SPAIN_NO_CANARY_ISLANDS     6966
ANOTHER_NON_EU              6827
ANOTHER_EU                  2324
Name: count, dtype: int64
Missing: 27904
OLD
f5b
1.0    37672
2.0     7462
4.0     5922
3.0     2062
Name: count, dtype: int64
Missing: 30739

NEW
f5b
CANARY_ISLANDS             37672
SPAIN_NO_CANARY_ISLANDS     7462
ANOTHER_NON_EU              5922
ANOTHER_EU                  2062
Name: count, dtype: int64
Missing: 30739

## extent_of_years_in_spanish_education_system

In [7]:
current_columns = ["f6"]
corr = print_statistics(columns=current_columns)
corr.style.background_gradient(cmap="coolwarm")

MISSING VALUES
f6    81.535233
dtype: float64

## f7

In [9]:
print(df["f7"].apply(
        lambda x: "SPANISH" if x == 1 else ("OTHER" if x == 2 else np.nan)
    ).value_counts())
print(df["f7"].value_counts())

f7
SPANISH    55626
OTHER       2971
Name: count, dtype: int64
f7
1.0    55626
2.0     2971
Name: count, dtype: int64

## f9a, ..., f9f

In [45]:
column_number = 9
column_letters = ["a", "b", "c", "d", "e", "f"]
current_columns = [f"f{column_number}{letter}" for letter in column_letters]
print(current_columns)
corr = print_statistics(columns=current_columns)
corr.style.background_gradient(cmap="coolwarm")

['f9a', 'f9b', 'f9c', 'f9d', 'f9e', 'f9f']
MISSING VALUES
f9a    66.198409
f9b    30.772625
f9c    32.129697
f9d    30.776202
f9e    31.910276
f9f    38.769572
dtype: float64

## f12a, f12b

In [46]:
column_number = 12
column_letters = ["a", "b"]
current_columns = [f"f{column_number}{letter}" for letter in column_letters]
print(current_columns)
corr = print_statistics(columns=current_columns)
corr.style.background_gradient(cmap="coolwarm")

['f12a', 'f12b']
MISSING VALUES
f12a    40.699047
f12b    41.455096
dtype: float64

## f14a, f14b

In [20]:
cols = ["f14a", "f14b"]
for col in cols:
    df[col] = df[col].apply(
                lambda x: (
                    "NEVER"
                    if x == 1
                    else (
                        "SOMETIMES"
                        if x == 2
                        else (
                            "ONCE_PER_MONTH"
                            if x == 3
                            else ("ONCE_PER_WEEK" if x == 4 else "DONT_KNOW")
                        )
                    )
                )
            )
df[cols].value_counts()

f14a            f14b
DONT_KNOW       DONT_KNOW         34321
ONCE_PER_WEEK   ONCE_PER_WEEK     12616
ONCE_PER_MONTH  ONCE_PER_MONTH     6174
SOMETIMES       SOMETIMES          5214
ONCE_PER_MONTH  NEVER              3568
ONCE_PER_WEEK   NEVER              3200
SOMETIMES       NEVER              3179
ONCE_PER_WEEK   DONT_KNOW          2819
ONCE_PER_MONTH  SOMETIMES          2591
ONCE_PER_WEEK   ONCE_PER_MONTH     2330
ONCE_PER_MONTH  DONT_KNOW          1997
ONCE_PER_WEEK   SOMETIMES          1819
SOMETIMES       DONT_KNOW          1170
NEVER           NEVER               591
SOMETIMES       ONCE_PER_MONTH      390
ONCE_PER_MONTH  ONCE_PER_WEEK       307
DONT_KNOW       ONCE_PER_WEEK       254
NEVER           SOMETIMES           232
DONT_KNOW       ONCE_PER_MONTH      205
SOMETIMES       ONCE_PER_WEEK       200
DONT_KNOW       SOMETIMES           172
NEVER           ONCE_PER_WEEK       156
                ONCE_PER_MONTH      148
                DONT_KNOW           134
DONT_KNOW       NEVER                70
Name: count, dtype: int64

In [10]:
current_columns = ["f14a"]
corr = print_statistics(columns=current_columns)
corr.style.background_gradient(cmap="coolwarm")

MISSING VALUES
f14a    41.612507
dtype: float64

In [213]:
print("DISTINCT VALUES")
df[current_columns].value_counts()

DISTINCT VALUES

a4   repeater  a41  a42
1.0  1.0       1.0  1.0    2133
2.0  2.0       1.0  2.0     417
               2.0  1.0     153
                    2.0     127
               1.0  3.0      88
               2.0  3.0      13
Name: count, dtype: int64

## f15a, ..., f15f

In [ ]:
column_number = 15
column_letters = ["a", "b", "c", "d", "e", "f"]
current_columns = [f"f{column_number}{letter}" for letter in column_letters]
print(current_columns)
corr = print_statistics(columns=current_columns)
corr.style.background_gradient(cmap="coolwarm")

['f15a', 'f15b', 'f15c', 'f15d', 'f15e', 'f15f']
MISSING VALUES
f15a    41.217787
f15b    41.204670
f15c    41.393086
f15d    41.623240
f15e    41.576732
f15f    78.878329
dtype: float64

## f16a, ..., f16f

In [49]:
column_number = 16
column_letters = ["a", "b", "c", "d", "e", "f"]
current_columns = [f"f{column_number}{letter}" for letter in column_letters]
print(current_columns)
corr = print_statistics(columns=current_columns)
corr.style.background_gradient(cmap="coolwarm")

['f16a', 'f16b', 'f16c', 'f16d', 'f16e', 'f16f']
MISSING VALUES
f16a    40.800410
f16b    41.168895
f16c    41.054414
f16d    66.395173
f16e    40.888656
f16f    66.405905
dtype: float64

## f17a, ..., f17d

In [50]:
column_number = 17
column_letters = ["a", "b", "c", "d"]
current_columns = [f"f{column_number}{letter}" for letter in column_letters]
print(current_columns)
corr = print_statistics(columns=current_columns)
corr.style.background_gradient(cmap="coolwarm")

['f17a', 'f17b', 'f17c', 'f17d']
MISSING VALUES
f17a    41.134312
f17b    41.363273
f17c    41.481331
f17d    41.550497
dtype: float64

## f18a, ..., f18i

In [51]:
column_number = 18
column_letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i"]
current_columns = [f"f{column_number}{letter}" for letter in column_letters]
print(current_columns)
corr = print_statistics(columns=current_columns)
corr.style.background_gradient(cmap="coolwarm")

['f18a', 'f18b', 'f18c', 'f18d', 'f18e', 'f18f', 'f18g', 'f18h', 'f18i']
MISSING VALUES
f18a    40.697855
f18b    40.906543
f18c    41.091382
f18d    40.928008
f18e    40.888656
f18f    41.301263
f18g    40.981671
f18h    41.047259
f18i    40.886271
dtype: float64

## f19a, ... f19e

In [52]:
column_number = 19
column_letters = ["a", "b", "c", "d", "e"]
current_columns = [f"f{column_number}{letter}" for letter in column_letters]
print(current_columns)
corr = print_statistics(columns=current_columns)
corr.style.background_gradient(cmap="coolwarm")

['f19a', 'f19b', 'f19c', 'f19d', 'f19e']
MISSING VALUES
f19a    40.891041
f19b    41.069917
f19c    41.111654
f19d    41.083034
f19e    41.129542
dtype: float64

## f20

In [23]:
df["f20"].apply(lambda x: 0 if x == 2 else x).astype(bool).value_counts()

f20
True     80726
False     3131
Name: count, dtype: int64

## f23

In [33]:
df["f23"].apply(
        lambda x: (
            "4_ESO"
            if x == 1
            else (
                "INT_FP"
                if x == 2
                else (
                    "BACH_ATO"
                    if x == 3
                    else (
                        "UP_FP"
                        if x == 4
                        else (
                            "BACH_DEG"
                            if x == 5
                            else ("DONT_KNOW" if x == 9 else np.nan)
                        )
                    )
                )
            )
        )
    ).unique()

array(['BACH_DEG', nan, 'BACH_ATO', 'UP_FP', '4_ESO', 'INT_FP',
       'DONT_KNOW'], dtype=object)

In [221]:
current_columns = ["a6nm", "a7", "a61", "a71",]
corr = print_statistics(columns=current_columns)
corr.style.background_gradient(cmap="coolwarm")

MISSING VALUES
a6nm    62.861777
a7      19.784872
a61     50.394123
a71     74.969293
dtype: float64

In [225]:
df[["a6nm", "a7", "a61", "a71"]]
df[["a6nm", "a7"]].value_counts()

a6nm  a7
30.0  4.0    6476
      3.0    4789
      2.0    2455
0.0   4.0    1472
      3.0    1045
             ...
14.0  0.0       1
75.0  1.0       1
      2.0       1
      3.0       1
3.0   0.0       1
Name: count, Length: 308, dtype: int64

## f31

In [36]:
df["f31"].apply(
        lambda x: (
            "MOTHER_FATHER_CHILDREN"
            if x == 1
            else (
                "MOTHER_PARTNER_CHILDREN"
                if x == 2
                else (
                    "FATHER_PARTNER_CHILDREN"
                    if x == 3
                    else (
                        "MOTHER_CHILDREN"
                        if x == 4
                        else (
                            "FATHER_CHILDREN"
                            if x == 5
                            else (
                                "RELATIVES_CHILDREN"
                                if x == 6
                                else ("OTHERS" if x == 7 else np.nan)
                            )
                        )
                    )
                )
            )
        )
    ).unique()

array([nan, 'MOTHER_FATHER_CHILDREN', 'MOTHER_PARTNER_CHILDREN',
       'MOTHER_CHILDREN', 'FATHER_PARTNER_CHILDREN', 'RELATIVES_CHILDREN',
       'FATHER_CHILDREN', 'OTHERS'], dtype=object)

In [7]:
df["f34"].apply(
        lambda x: "NO_ANSWER" if x == 10 else x
    )

id_student
1              NaN
2              NaN
3              NaN
4              NaN
5              NaN
           ...
83853          NaN
83854          9.0
83855          5.0
83856    NO_ANSWER
83857          3.0
Name: f34, Length: 83857, dtype: object