# Imports

In [1]:
import os

import pandas as pd

from src.pre_processing.macros import column_groups, DATA_PATH, DATA_SPLIT_PATH, ORIGINAL_DATASET_NAME, DATA_PREPROC_PATH

# Load Original

In [18]:
df = pd.read_csv(os.path.join(DATA_PATH, ORIGINAL_DATASET_NAME), low_memory=False)
df = df.set_index("id_student")
df

            id_student_original  id_year  id_grade  ... p331j   pfc  rep
id_student                                          ...
1                       33613.0     2016         3  ...   NaN   NaN  NaN
2                       19294.0     2016         3  ...   NaN   NaN  NaN
3                       19587.0     2016         3  ...   NaN   NaN  NaN
4                       29985.0     2016         3  ...   NaN   NaN  NaN
5                        6982.0     2016         3  ...   NaN   NaN  NaN
...                         ...      ...       ...  ...   ...   ...  ...
83853                    2500.0     2019         6  ...   3.0  10.0  2.0
83854                    5784.0     2019         6  ...   4.0   3.0  2.0
83855                    7708.0     2019         6  ...   NaN   NaN  NaN
83856                   18965.0     2019         6  ...   3.0   8.0  1.0
83857                    7652.0     2019         6  ...   4.0   3.0  2.0

[83857 rows x 560 columns]

In [27]:
df[["p311a", "p311b", "p311c", "p311e", "p311f", "p311g", "p311h", "p31d"]].max()
# df[["p331a", "p331b","p331c","p331d","p331e","p331f", "p331g", "p331j"]].max()

p311a    4.0
p311b    4.0
p311c    4.0
p311e    4.0
p311f    4.0
p311g    4.0
p311h    4.0
p31d     4.0
dtype: float64

# Split and Save

In [4]:
# identifiers pre-processing, i.e., change float columns to int
int_identifiers = [col for col in column_groups["identifiers"] if col not in ["id_class_group"]]
df[int_identifiers] = df[int_identifiers].astype('Int64')
df

,id_student_original,id_year,id_grade,id_class_group,id_school,id_student_16_19,id_school_16_19,student_questionnaire,principals_questionnaire,family_questionnaire,...,p331a,p331b,p331c,p331d,p331e,p331f,p331g,p331j,pfc,rep
id_student,,,,,,,,,,,,,,,,,,,,,
1,33613,2016,3,A,2415,14374,569,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,19294,2016,3,A,1842,8001,273,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,19587,2016,3,NaN,1432,8142,82,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,29985,2016,3,A,2280,12800,505,1,1,1,...,2.0,2.0,3.0,2.0,3.0,3.0,NaN,NaN,NaN,NaN
5,6982,2016,3,A,2040,2606,390,1,1,1,...,4.0,NaN,4.0,4.0,4.0,3.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83853,2500,2019,6,B,1278,<NA>,271,1,1,0,...,4.0,4.0,4.0,4.0,4.0,NaN,5.0,3.0,10.0,2.0
83854,5784,2019,6,A,1079,<NA>,78,1,1,1,...,3.0,4.0,4.0,4.0,4.0,NaN,5.0,4.0,3.0,2.0
83855,7708,2019,6,X,1486,3036,459,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83856,18965,2019,6,B,1036,9913,36,1,1,1,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,8.0,1.0
83857,7652,2019,6,A,1173,5539,169,1,1,1,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,3.0,2.0

In [5]:
for group, columns in column_groups.items():
    print(group, len(columns))

identifiers 7
info 6
student_scores 6
student_questionnaire 154
school_principals_questionnaire 138
family_questionnaire 91
teacher_questionnaire 158

In [6]:
for group, columns in column_groups.items():
    df[columns].to_csv(os.path.join(DATA_SPLIT_PATH, f"{group}.csv"))

# Load Pre-processed

In [28]:
df = pd.read_csv(os.path.join(DATA_PREPROC_PATH, "merged.csv"), low_memory=False)
df = df.set_index("id_student")
df

            gender_x  ...  subjects_taught
id_student            ...
1                2.0  ...              NaN
2                1.0  ...              NaN
3                2.0  ...              NaN
4                1.0  ...              NaN
5                2.0  ...              NaN
...              ...  ...              ...
83853            2.0  ...              NaN
83854            2.0  ...              NaN
83855            1.0  ...              NaN
83856            2.0  ...              NaN
83857            1.0  ...              NaN

[80161 rows x 144 columns]

In [4]:
def maximum_absolute_scaling(df):
    # copy the dataframe
    df_scaled = df.copy()
    # apply maximum absolute scaling
    for column in df_scaled.columns:
        df_scaled[column] = df_scaled[column]  / df_scaled[column].abs().max()
    return df_scaled

In [29]:
extent_of_cols = [col for col in df if col.startswith('extent_of')]
frequency_of_cols = [col for col in df if col.startswith('frequency_of')]
agreement_of_cols = [col for col in df if col.startswith('agreement_of')]
df["extent_of_positive_relationships"].max()

122.0

In [12]:
df.columns

Index(['gender_x', 'birth_year', 'repeat', 'frequency_of_skips',
       'homeworks_day_per_week', 'extent_of_teachers_affinity',
       'birth_country', 'nazionality_country', 'weight',
       'frequency_of_computer_usage',
       ...
       'extent_of_positive_relationships',
       'number_of_special_attention_students',
       'extent_of_student_involvement_during_class',
       'extent_of_teaching_methods_variety', 'agreement_of_opinion_on_school',
       'agreement_of_class_behaviour', 'extent_of_resource_variety',
       'extent_of_good_work_by_non_teachers',
       'number_of_individual_training_topics', 'subjects_taught'],
      dtype='object', length=144)