# Imports

In [3]:
import os
import math
import json
import collections

import pandas as pd
import numpy as np

from src.pre_processing.macros import column_groups, DATA_PATH, DATA_SPLIT_PATH, ORIGINAL_DATASET_NAME, DATA_PREPROC_PATH

# Load Original

In [76]:
df = pd.read_csv(os.path.join(DATA_PATH, ORIGINAL_DATASET_NAME), low_memory=False)
df = df.set_index("id_student")
df

,id_student_original,id_year,id_grade,id_class_group,id_school,id_student_16_19,id_school_16_19,student_questionnaire,principals_questionnaire,family_questionnaire,...,p331a,p331b,p331c,p331d,p331e,p331f,p331g,p331j,pfc,rep
id_student,,,,,,,,,,,,,,,,,,,,,
1,33613.0,2016,3,A,2415.0,14374.0,569.0,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,19294.0,2016,3,A,1842.0,8001.0,273.0,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,19587.0,2016,3,NaN,1432.0,8142.0,82.0,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,29985.0,2016,3,A,2280.0,12800.0,505.0,1,1,1,...,2.0,2.0,3.0,2.0,3.0,3.0,NaN,NaN,NaN,NaN
5,6982.0,2016,3,A,2040.0,2606.0,390.0,1,1,1,...,4.0,NaN,4.0,4.0,4.0,3.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83853,2500.0,2019,6,B,1278.0,NaN,271.0,1,1,0,...,4.0,4.0,4.0,4.0,4.0,NaN,5.0,3.0,10.0,2.0
83854,5784.0,2019,6,A,1079.0,NaN,78.0,1,1,1,...,3.0,4.0,4.0,4.0,4.0,NaN,5.0,4.0,3.0,2.0
83855,7708.0,2019,6,X,1486.0,3036.0,459.0,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83856,18965.0,2019,6,B,1036.0,9913.0,36.0,1,1,1,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,8.0,1.0
83857,7652.0,2019,6,A,1173.0,5539.0,169.0,1,1,1,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,3.0,2.0

In [115]:
# Import ranges of each feature
with open(os.path.join(DATA_PATH, "meta_data_original.json")) as file:
    meta_data = json.load(file)

In [116]:
# Check each features is in range
for column_group in meta_data["groups"]:
    for col in column_group["columns"]:
        value = column_group["values"][0]
        if value != ["Unknown"]:
            if type(value) == dict:
                col_min = df[col].min()
                col_max = df[col].max()
                if col_min < int(value["min"]) or col_max > int(value["max"]):
                    print(f""""NO IN LIMIT\n\tcol:{col}, col_min:{col_min}, col_max:{col_max}, min_value:{value["min"]}, max_value:{value["max"]} """)
            elif type(column_group["values"][0]) == list:
                distinct_in_col = [elem for elem in df[col].unique() if type(elem) == str or not math.isnan(elem)]
                value = value if not value[0].isdigit() else [int(elem) for elem in value]
                # if distinct_in_col not in value:
                if not set(distinct_in_col).issubset(set(value)):
                    print(f""""NO IN LIST\n\tcol:{col}, distinct_in_col:{distinct_in_col}, value:{value}""")

"NO IN LIMIT
	col:ESCS, col_min:-2.706281, col_max:3.293104, min_value:1, max_value:25
"NO IN LIST
	col:p331g, distinct_in_col:[1.0, 3.0, 4.0, 5.0, 2.0], value:[1, 2, 3, 4]
"NO IN LIST
	col:p331j, distinct_in_col:[4.0, 3.0, 5.0, 2.0, 1.0], value:[1, 2, 3, 4]

In [55]:
import 
collections.Counter(df["a1"].unique().tolist()[:2]) == collections.Counter(["2", "1"])

False

[2.0, 1.0]

# Split and Save

In [4]:
# identifiers pre-processing, i.e., change float columns to int
int_identifiers = [col for col in column_groups["identifiers"] if col not in ["id_class_group"]]
df[int_identifiers] = df[int_identifiers].astype('Int64')
df

,id_student_original,id_year,id_grade,id_class_group,id_school,id_student_16_19,id_school_16_19,student_questionnaire,principals_questionnaire,family_questionnaire,...,p331a,p331b,p331c,p331d,p331e,p331f,p331g,p331j,pfc,rep
id_student,,,,,,,,,,,,,,,,,,,,,
1,33613,2016,3,A,2415,14374,569,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,19294,2016,3,A,1842,8001,273,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,19587,2016,3,NaN,1432,8142,82,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,29985,2016,3,A,2280,12800,505,1,1,1,...,2.0,2.0,3.0,2.0,3.0,3.0,NaN,NaN,NaN,NaN
5,6982,2016,3,A,2040,2606,390,1,1,1,...,4.0,NaN,4.0,4.0,4.0,3.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83853,2500,2019,6,B,1278,<NA>,271,1,1,0,...,4.0,4.0,4.0,4.0,4.0,NaN,5.0,3.0,10.0,2.0
83854,5784,2019,6,A,1079,<NA>,78,1,1,1,...,3.0,4.0,4.0,4.0,4.0,NaN,5.0,4.0,3.0,2.0
83855,7708,2019,6,X,1486,3036,459,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83856,18965,2019,6,B,1036,9913,36,1,1,1,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,8.0,1.0
83857,7652,2019,6,A,1173,5539,169,1,1,1,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,3.0,2.0

In [5]:
for group, columns in column_groups.items():
    print(group, len(columns))

identifiers 7
info 6
student_scores 6
student_questionnaire 154
school_principals_questionnaire 138
family_questionnaire 91
teacher_questionnaire 158

In [6]:
for group, columns in column_groups.items():
    df[columns].to_csv(os.path.join(DATA_SPLIT_PATH, f"{group}.csv"))

# Load Pre-processed

In [90]:
df = pd.read_csv(os.path.join(DATA_PREPROC_PATH, "merged.csv"), low_memory=False)
df = df.set_index("id_student")
print(df.shape)
df

(80161, 146)

,s_gender,s_birth_year,s_has_repeated,s_frequency_of_skips,s_homeworks_day_per_week,s_extent_of_teachers_affinity,s_birth_country,s_nazionality_country,s_weight,s_frequency_of_computer_usage,...,t_extent_of_student_involvement_during_class,t_extent_of_teaching_methods_variety,t_agreement_of_opinion_on_school,t_agreement_of_class_behaviour,t_extent_of_resource_variety,t_extent_of_good_work_by_non_teachers,t_number_of_individual_training_topics,t_subjects_taught,t_agreement_of_satisfaction_job_and_school,t_agreement_of_results_satisfaction
id_student,,,,,,,,,,,,,,,,,,,,,
1,2.0,2007.0,1.0,4.0,0.0,4.0,NaN,NaN,NaN,1.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,2007.0,2.0,4.0,3.0,4.0,NaN,NaN,NaN,2.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.0,2007.0,1.0,4.0,2.0,NaN,NaN,NaN,NaN,3.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,2007.0,1.0,4.0,3.0,4.0,NaN,NaN,NaN,2.000000,...,2.666667,3.0,4.0,2.5,2.375,2.666667,NaN,NaN,NaN,3.0
5,2.0,2007.0,1.0,4.0,1.0,4.0,NaN,NaN,NaN,1.000000,...,3.000000,3.2,4.0,3.5,2.875,3.666667,1.0,NaN,NaN,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83853,2.0,NaN,2.0,4.0,2.0,4.0,NaN,NaN,NaN,4.000000,...,2.666667,3.4,4.0,2.5,2.250,4.000000,1.0,NaN,4.000000,1.5
83854,2.0,NaN,1.0,4.0,4.0,2.0,NaN,NaN,NaN,1.333333,...,3.000000,3.2,3.0,3.0,2.500,4.000000,1.0,NaN,3.166667,2.5
83855,1.0,NaN,1.0,4.0,4.0,3.0,NaN,NaN,NaN,1.666667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83856,2.0,NaN,1.0,4.0,2.0,4.0,NaN,NaN,NaN,1.333333,...,3.000000,3.0,3.0,3.0,2.375,2.875000,3.0,NaN,2.833333,2.5
83857,1.0,NaN,1.0,4.0,3.0,3.0,NaN,NaN,NaN,3.000000,...,3.000000,3.0,3.0,3.0,2.125,3.812500,2.0,NaN,3.000000,2.5

In [4]:
def maximum_absolute_scaling(df):
    # copy the dataframe
    df_scaled = df.copy()
    # apply maximum absolute scaling
    for column in df_scaled.columns:
        df_scaled[column] = df_scaled[column]  / df_scaled[column].abs().max()
    return df_scaled

In [29]:
extent_of_cols = [col for col in df if col.startswith('extent_of')]
frequency_of_cols = [col for col in df if col.startswith('frequency_of')]
agreement_of_cols = [col for col in df if col.startswith('agreement_of')]
df["extent_of_positive_relationships"].max()

122.0

In [81]:
for col in df.columns:
    if "gender" in col:
        print(col)

s_gender
p_gender
p_group_criteria_gender
t_gender

In [117]:
# Import meta data of merged 
with open(os.path.join(DATA_PATH, "meta_data_new_py.json")) as file:
    meta_data = json.load(file)

In [116]:
# Write
# with open(os.path.join(DATA_PATH, "meta_data_new_py.json"), 'w') as f:
#     f.write(json.dumps(meta_data))

In [76]:
df["t_agreement_of_results_satisfaction"]

id_student
1        NaN
2        NaN
3        NaN
4        3.0
5        4.0
        ...
83853    1.5
83854    2.5
83855    NaN
83856    2.5
83857    2.5
Name: t_agreement_of_results_satisfaction, Length: 80161, dtype: float64

In [41]:
# for cmn, details in meta_data.items():
#     value = details["values"][0][0]
#     if value == ["1", "2", "3", "4"]:
#         value = {"min": 1, "max": 4}
#         print(value)

In [118]:
categories = ["s", "p", "f", "t"]
attrs = ["extent_of", "agreement_of", "frequency_of", "degree_of"]

for col, details in meta_data.items():
    if any(col.startswith(s) for s in [f"{c}_{a}" for c in categories for a in attrs]):
        value = details["values"][0][0]
        if value == ["1", "2", "3"]:
            value = {"min": 1, "max": 3}
        if value == ["1", "2", "3", "4"]:
            value = {"min": 1, "max": 4}
        if value == ["1", "2", "3", "4", "5"]:
            value = {"min": 1, "max": 5}
        # details["values"][0][0] = value
        print(col, details["values"][0][0])

s_frequency_of_skips {'min': 1, 'max': 4}
s_frequency_of_computer_usage {'min': 1, 'max': 4}
s_frequency_of_internet_usage {'min': 1, 'max': 4}
s_frequency_of_work_with_teachers {'min': 1, 'max': 4}
s_frequency_of_materials_in_class {'min': 1, 'max': 4}
s_frequency_of_evaluations {'min': 1, 'max': 4}
s_extent_of_teachers_affinity {'min': 1, 'max': 4}
s_extent_of_classmates_affinity {'min': 1, 'max': 4}
s_extent_of_teacher_performance {'min': 1, 'max': 4}
s_extent_of_class_env {'min': 1, 'max': 4}
s_extent_of_school_satisfaction {'min': 1, 'max': 4}
s_extent_of_math_affinity {'min': 1, 'max': 4}
s_extent_of_reading_affinity {'min': 1, 'max': 4}
p_degree_of_factors_limiting_effectiveness {'min': 1, 'max': 4}
p_degree_of_inconveniences {'min': 1, 'max': 4}
p_degree_of_problems {'min': 1, 'max': 4}
p_degree_of_management {'min': 1, 'max': 4}
p_degree_of_satisfaction {'min': 1, 'max': 4}
p_degree_of_agreement {'min': 1, 'max': 4}
p_degree_of_agreement_satisfaction_students_results {'min': 1, 'max': 4}
p_degree_of_agreement_expected_students_results {'min': 1, 'max': 4}
p_degree_of_agreement_students_improvement {'min': 1, 'max': 4}
f_extent_of_years_in_spanish_education_system {'min': 1, 'max': 3}
f_extent_of_start_schooling_age {'min': 1, 'max': 3}
f_frequency_of_books_at_home {'min': 1, 'max': 4}
f_frequency_of_tech_at_home {'min': 1, 'max': 4}
f_extent_of_books_at_home {'min': 1, 'max': 5}
f_frequency_of_see_adult_read {'min': 1, 'max': 5}
f_extent_of_interest_in_interview {'min': 1, 'max': 4}
f_frequency_of_support_at_home {'min': 1, 'max': 4}
f_frequency_of_parent_involved_in_school_activities {'min': 1, 'max': 4}
f_agreement_of_family_satisfaction {'min': 1, 'max': 5}
f_agreement_of_teacher_satisfaction {'min': 1, 'max': 5}
t_agreement_of_class_behaviour {'min': 1, 'max': 4}
t_agreement_of_results_satisfaction {'min': 1, 'max': 4}
t_extent_of_pfc_incidence {'min': 1, 'max': 4}
t_extent_of_individual_training_incidence {'min': 1, 'max': 4}
t_extent_of_student_involvement_during_class {'min': 1, 'max': 4}
t_extent_of_teaching_methods_variety {'min': 1, 'max': 4}
t_extent_of_resource_variety {'min': 1, 'max': 4}
t_extent_of_evaluation_variety {'min': 1, 'max': 4}
t_extent_of_work_hampered {'min': 1, 'max': 4}
t_extent_of_family_interest {'min': 1, 'max': 4}
t_agreement_of_family_support {'min': 1, 'max': 4}
t_extent_of_positive_relationships {'min': 1, 'max': 4}
t_agreement_of_opinion_on_school {'min': 1, 'max': 4}
t_agreement_of_work_facilitated_by_management {'min': 1, 'max': 4}
t_agreement_of_satisfaction_job_and_school {'min': 1, 'max': 4}
t_extent_of_good_work_by_non_teachers {'min': 1, 'max': 4}

In [119]:
# Check each features is in range
for col, details in meta_data.items():
    # print(col)
    value = details["values"][0][0]
    # if value == ["1", "2", "3", "4"]:
    #     value = {"min": 1, "max": 4}
    if value != ["Unknown"]:
        if type(value) == dict:
            try:
                col_min = df[col].min()
                col_max = df[col].max()
                if col_min < int(value["min"]) or col_max > int(value["max"]):
                    print(f""""NO IN LIMIT\n\tcol:{col}, col_min:{col_min}, col_max:{col_max}, min_value:{value["min"]}, max_value:{value["max"]} """)
            except:
                print([elem for elem in df[col].unique() if type(elem) == str or not math.isnan(elem)])
        elif type(value) == list:
            distinct_in_col = [elem for elem in df[col].unique() if type(elem) == str or not math.isnan(elem)]
            value = value if not value[0].isdigit() else [int(elem) for elem in value]
            # if distinct_in_col not in value:
            if not set(distinct_in_col).issubset(set(value)):
                print(f""""NO IN LIST\n\tcol:{col}, distinct_in_col:{distinct_in_col}, value:{value}""")

"NO IN LIST
	col:s_living_with, distinct_in_col:[1, 0, 5, 2, 3, 4], value:[1, 2]
"NO IN LIMIT
	col:p_number_of_school_resources, col_min:0.0, col_max:5703.0, min_value:0, max_value:2000
"NO IN LIST
	col:f_respondent, distinct_in_col:['MOTHER', 'FATHER', 'OTHER'], value:[1, 2, 3]
"NO IN LIST
	col:f_language_spoken_at_home, distinct_in_col:['SPANISH', 'OTHER'], value:[1, 2]
"NO IN LIST
	col:f_visits_in_school_by_father, distinct_in_col:['ONCE_PER_MONTH', 'NEVER', 'ONCE_PER_WEEK', 'SOMETIMES', 'DONT_KNOW'], value:[1, 2, 3, 4, 5]
"NO IN LIST
	col:f_has_been_recommended_school, distinct_in_col:[True, False], value:[1, 2]
"NO IN LIST
	col:f_parental_education_expectations, distinct_in_col:['BACH_DEG', 'BACH_ATO', 'UP_FP', '4_ESO', 'INT_FP', 'DONT_KNOW'], value:[1, 2, 3, 4, 5, 9]
"NO IN LIST
	col:f_type_of_family_unit, distinct_in_col:['MOTHER_FATHER_CHILDREN', 'MOTHER_PARTNER_CHILDREN', 'MOTHER_CHILDREN', 'FATHER_PARTNER_CHILDREN', 'RELATIVES_CHILDREN', 'FATHER_CHILDREN', 'OTHERS'], value:[1, 2, 3, 4, 5, 6, 7]
"NO IN LIST
	col:f_monthly_household_income, distinct_in_col:['4.0', '8.0', '3.0', '6.0', '9.0', '5.0', 'NO_ANSWER', '2.0', '7.0', '1.0'], value:[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
"NO IN LIMIT
	col:f_ESCS, col_min:-2.706281, col_max:3.293104, min_value:1, max_value:25
"NO IN LIST
	col:t_subjects_taught, distinct_in_col:[46.0, 59.0, 58.0, 43.0, 61.0, 62.0, 49.0, 54.0, 53.0, 17.0, 57.0, 51.0, 48.0, 5.0, 63.0, 52.0, 38.0, 47.0, 42.0, 41.0, 7.0, 11.0, 40.0, 16.0, 55.0, 4.0, 56.0, 32.0, 35.0, 27.0, 36.0, 15.0, 33.0, 10.0, 26.0, 20.0], value:[1, 2]
"NO IN LIST
	col:t_number_of_individual_training_topics, distinct_in_col:[1.0, 3.0, 4.0, 2.0, 5.0, 10.0, 11.0, 9.0, 12.0, 13.0, 14.0, 8.0, 7.0, 6.0], value:[1, 2]