# Imports

In [1]:
import os

import pandas as pd

from macros import column_groups, DATA_PATH, DATA_SPLIT_PATH, ORIGINAL_DATASET_NAME

# Loading

In [2]:
family_df = pd.read_csv(os.path.join(DATA_SPLIT_PATH, "family_questionnaire.csv"), low_memory=False)
family_df = family_df.set_index("id_student")
family_df = family_df.dropna(subset=['f0'], how='all')
family_df = family_df.drop('mother_education', axis=1)
family_df = family_df.drop('father_education', axis=1)
family_df = family_df.drop('inmigrant', axis=1)
family_df = family_df.drop('inmigrant2', axis=1)
family_df = family_df.drop('inmigrant_second_gen', axis=1)
family_df = family_df.drop('f8ta', axis=1)
family_df = family_df.drop('f8tm', axis=1)
family_df = family_df.drop('f11', axis=1)
family_df = family_df.drop('f13n', axis=1)
family_df = family_df.drop('f22', axis=1)
family_df = family_df.drop('f24a', axis=1)
family_df = family_df.drop('f24b', axis=1)
family_df = family_df.drop('mother_occupation', axis=1)
family_df = family_df.drop('father_occupation', axis=1)
family_df = family_df.drop('single_parent_household', axis=1)
family_df = family_df.drop('household_income_q', axis=1)
family_df

,f0,f1n,f2an,f2bn,f3a,f3b,f4a,f4b,f5a,f5b,...,f33b,f33c,f33d,f33e,f33f,f33g,f33h,f34,nhousehold,ESCS
id_student,,,,,,,,,,,,,,,,,,,,,
1,1.0,3.0,43.0,47.0,7.0,3.0,1.0,3.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.235340
3,1.0,4.0,45.0,41.0,3.0,5.0,3.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.261451
4,1.0,4.0,39.0,41.0,5.0,5.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.787122
5,2.0,4.0,39.0,41.0,9.0,7.0,1.0,1.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.151773
6,1.0,5.0,25.0,29.0,3.0,3.0,3.0,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.627731
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83852,1.0,3.0,33.0,39.0,4.0,NaN,3.0,1.0,1.0,1.0,...,1.0,NaN,NaN,1.0,NaN,NaN,NaN,10.0,NaN,-0.458169
83854,1.0,3.0,45.0,44.0,7.0,7.0,1.0,1.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,0.761954
83855,2.0,4.0,40.0,42.0,5.0,5.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,0.633218
83856,1.0,5.0,40.0,NaN,2.0,NaN,1.0,NaN,4.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,10.0,NaN,-1.506239
83857,1.0,5.0,41.0,51.0,4.0,3.0,2.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,-0.309953

In [3]:
# Load identifiers and change float columns to int
ids = pd.read_csv(os.path.join(DATA_SPLIT_PATH, "identifiers.csv"), low_memory=False)
ids = ids.set_index("id_student")
int_identifiers = [col for col in ids.columns if col not in ["id_class_group"]]
ids[int_identifiers] = ids[int_identifiers].astype('Int64')
ids

,id_student_original,id_year,id_grade,id_class_group,id_school,id_student_16_19,id_school_16_19
id_student,,,,,,,
1,33613,2016,3,A,2415,14374,569
2,19294,2016,3,A,1842,8001,273
3,19587,2016,3,NaN,1432,8142,82
4,29985,2016,3,A,2280,12800,505
5,6982,2016,3,A,2040,2606,390
...,...,...,...,...,...,...,...
83853,2500,2019,6,B,1278,<NA>,271
83854,5784,2019,6,A,1079,<NA>,78
83855,7708,2019,6,X,1486,3036,459
83856,18965,2019,6,B,1036,9913,36
83857,7652,2019,6,A,1173,5539,169

In [4]:
df = pd.merge(ids, family_df, left_index=True, right_index=True)
df

,id_student_original,id_year,id_grade,id_class_group,id_school,id_student_16_19,id_school_16_19,f0,f1n,f2an,...,f33b,f33c,f33d,f33e,f33f,f33g,f33h,f34,nhousehold,ESCS
id_student,,,,,,,,,,,,,,,,,,,,,
1,33613,2016,3,A,2415,14374,569,1.0,3.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.235340
3,19587,2016,3,NaN,1432,8142,82,1.0,4.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.261451
4,29985,2016,3,A,2280,12800,505,1.0,4.0,39.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.787122
5,6982,2016,3,A,2040,2606,390,2.0,4.0,39.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.151773
6,37650,2016,3,A,2367,16186,546,1.0,5.0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.627731
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83852,10612,2019,6,B,1051,8418,51,1.0,3.0,33.0,...,1.0,NaN,NaN,1.0,NaN,NaN,NaN,10.0,NaN,-0.458169
83854,5784,2019,6,A,1079,<NA>,78,1.0,3.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,0.761954
83855,7708,2019,6,X,1486,3036,459,2.0,4.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,0.633218
83856,18965,2019,6,B,1036,9913,36,1.0,5.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,10.0,NaN,-1.506239
83857,7652,2019,6,A,1173,5539,169,1.0,5.0,41.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,-0.309953

# Pre-processing 1
In this step we are going to substitute within the NaN values the average value for that column.

In [5]:
family_df

,f0,f1n,f2an,f2bn,f3a,f3b,f4a,f4b,f5a,f5b,...,f33b,f33c,f33d,f33e,f33f,f33g,f33h,f34,nhousehold,ESCS
id_student,,,,,,,,,,,,,,,,,,,,,
1,1.0,3.0,43.0,47.0,7.0,3.0,1.0,3.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.235340
3,1.0,4.0,45.0,41.0,3.0,5.0,3.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.261451
4,1.0,4.0,39.0,41.0,5.0,5.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.787122
5,2.0,4.0,39.0,41.0,9.0,7.0,1.0,1.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.151773
6,1.0,5.0,25.0,29.0,3.0,3.0,3.0,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.627731
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83852,1.0,3.0,33.0,39.0,4.0,NaN,3.0,1.0,1.0,1.0,...,1.0,NaN,NaN,1.0,NaN,NaN,NaN,10.0,NaN,-0.458169
83854,1.0,3.0,45.0,44.0,7.0,7.0,1.0,1.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,0.761954
83855,2.0,4.0,40.0,42.0,5.0,5.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,0.633218
83856,1.0,5.0,40.0,NaN,2.0,NaN,1.0,NaN,4.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,10.0,NaN,-1.506239
83857,1.0,5.0,41.0,51.0,4.0,3.0,2.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,-0.309953

In [6]:
means = family_df.mean().round()
family_df_filled_with_mean = family_df.fillna(means)

In [9]:
# Aggregation by making the sum of the value of all fields measuring the level of reading and literature in the home
family_df_filled_with_mean['lecture_at_home_score'] = family_df_filled_with_mean[['f9a', 'f9b', 'f9c', 'f9h', 'books']].agg('sum', axis=1)
family_df_filled_with_mean = family_df_filled_with_mean.drop(['f9a', 'f9b', 'f9c', 'f9h', 'books'], axis=1)

# Aggregation by performing the sum of the value of all fields that measure the level of technology and electronic devices in the home
family_df_filled_with_mean['tech_at_home_score'] = family_df_filled_with_mean[['f9d', 'f9e', 'f9f', 'f9g', 'f10n']].agg('sum', axis=1)
family_df_filled_with_mean = family_df_filled_with_mean.drop(['f9d', 'f9e', 'f9f', 'f9g', 'f10n'], axis=1)

# Aggregation that specifies how much students see reading and how much parents read to their children
family_df_filled_with_mean['see_adult_read'] = family_df_filled_with_mean[['f12a', 'f12b']].agg('sum', axis=1)
family_df_filled_with_mean = family_df_filled_with_mean.drop(['f12a', 'f12b'], axis=1)

# Aggregation by making the sum of all visits the student receives, from mother, father, and other relatives
family_df_filled_with_mean['visit_in_school_by_people'] = family_df_filled_with_mean[['f14a', 'f14b', 'f14c']].agg('sum', axis=1)
family_df_filled_with_mean = family_df_filled_with_mean.drop(['f14a', 'f14b', 'f14c'], axis=1)

# Aggregation of average parental interest in interviews
family_df_filled_with_mean['interest_in_interview'] = family_df_filled_with_mean[['f15a', 'f15b', 'f15c', 'f15d', 'f15e', 'f15f']].agg('mean', axis=1)
family_df_filled_with_mean = family_df_filled_with_mean.drop(['f15a', 'f15b', 'f15c', 'f15d', 'f15e', 'f15f'], axis=1)

# Aggregation by averaging the help they receive at home from parents 
family_df_filled_with_mean['support_at_home'] = family_df_filled_with_mean[['f16a', 'f16b', 'f16c', 'f16d', 'f16e', 'f16f']].agg('mean', axis=1)
family_df_filled_with_mean = family_df_filled_with_mean.drop(['f16a', 'f16b', 'f16c', 'f16d', 'f16e', 'f16f'], axis=1)

# Aggregation by averaging the frequency of participation by parents in school activities
family_df_filled_with_mean['parent_involved_in_school_activities'] = family_df_filled_with_mean[['f17a', 'f17b', 'f17c', 'f17d']].agg('mean', axis=1)
family_df_filled_with_mean = family_df_filled_with_mean.drop(['f17a', 'f17b', 'f17c', 'f17d'], axis=1)

# Aggregation by averaging parents satisfaction about the school
family_df_filled_with_mean['family_satisfaction'] = family_df_filled_with_mean[['f18a', 'f18b', 'f18c', 'f18d', 'f18e', 'f18f', 'f18g', 'f18h', 'f18i']].agg('mean', axis=1)
family_df_filled_with_mean = family_df_filled_with_mean.drop(['f18a', 'f18b', 'f18c', 'f18d', 'f18e', 'f18f', 'f18g', 'f18h', 'f18i'], axis=1)

# Aggregation by averaging satisfaction from parents with teachers
family_df_filled_with_mean['parent_involved_in_school_activities'] = family_df_filled_with_mean[['f19a', 'f19b', 'f19c', 'f19d', 'f19e']].agg('mean', axis=1)
family_df_filled_with_mean = family_df_filled_with_mean.drop(['f19a', 'f19b', 'f19c', 'f19d', 'f19e'], axis=1)
# Aggregation by making the sum of all household earnings 
family_df_filled_with_mean['income'] = family_df_filled_with_mean[['f33a', 'f33b', 'f33c', 'f33d', 'f33e', 'f33f', 'f33g', 'f33h', 'f34']].agg('sum', axis=1)
family_df_filled_with_mean = family_df_filled_with_mean.drop(['f33a', 'f33b', 'f33c', 'f33d', 'f33e', 'f33f', 'f33g', 'f33h', 'f34'], axis=1)

In [10]:
family_df_filled_with_mean

,f0,f1n,f2an,f2bn,f3a,f3b,f4a,f4b,f5a,f5b,...,ESCS,lecture_at_home_score,tech_at_home_score,see_adult_read,visit_in_school_by_people,interest_in_interview,support_at_home,parent_involved_in_school_activities,family_satisfaction,income
id_student,,,,,,,,,,,,,,,,,,,,,
1,1.0,3.0,43.0,47.0,7.0,3.0,1.0,3.0,1.0,2.0,...,0.235340,20.0,19.0,7.0,10.0,3.833333,4.000000,1.6,3.777778,21.0
3,1.0,4.0,45.0,41.0,3.0,5.0,3.0,1.0,1.0,1.0,...,0.261451,13.0,12.0,4.0,9.0,3.833333,4.000000,3.0,2.222222,21.0
4,1.0,4.0,39.0,41.0,5.0,5.0,1.0,1.0,1.0,1.0,...,0.787122,14.0,11.0,6.0,8.0,3.833333,4.000000,1.8,5.000000,21.0
5,2.0,4.0,39.0,41.0,9.0,7.0,1.0,1.0,1.0,2.0,...,3.151773,16.0,17.0,7.0,9.0,3.500000,3.666667,2.4,4.000000,21.0
6,1.0,5.0,25.0,29.0,3.0,3.0,3.0,3.0,2.0,2.0,...,-1.627731,11.0,18.0,7.0,8.0,3.833333,4.000000,2.0,4.333333,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83852,1.0,3.0,33.0,39.0,4.0,4.0,3.0,1.0,1.0,1.0,...,-0.458169,14.0,20.0,7.0,10.0,3.333333,4.000000,5.0,4.777778,23.0
83854,1.0,3.0,45.0,44.0,7.0,7.0,1.0,1.0,2.0,2.0,...,0.761954,14.0,11.0,10.0,7.0,3.333333,3.833333,5.0,3.555556,24.0
83855,2.0,4.0,40.0,42.0,5.0,5.0,1.0,1.0,1.0,1.0,...,0.633218,14.0,24.0,3.0,9.0,3.500000,3.833333,5.0,4.777778,20.0
83856,1.0,5.0,40.0,44.0,2.0,4.0,1.0,1.0,4.0,4.0,...,-1.506239,12.0,19.0,2.0,13.0,3.000000,2.500000,5.0,4.888889,24.0
83857,1.0,5.0,41.0,51.0,4.0,3.0,2.0,1.0,1.0,1.0,...,-0.309953,14.0,17.0,10.0,9.0,4.000000,4.000000,2.4,2.888889,18.0

# Pre-processing 2
In this step we are going to ignore the NaN fields instead of replacing them

In [12]:
def sum_skip_na(column):
    return column.sum(skipna=True)

def mean_skip_na(column):
    return column.mean(skipna=True)

In [13]:
family_df_skip_nan = family_df

In [14]:
# Aggregation by making the sum of the value of all fields measuring the level of reading and literature in the home
family_df_skip_nan['lecture_at_home_score'] = family_df_skip_nan[['f9a', 'f9b', 'f9c', 'f9h', 'books']].agg(sum_skip_na, axis=1)
family_df_skip_nan = family_df_skip_nan.drop(['f9a', 'f9b', 'f9c', 'f9h', 'books'], axis=1)

# Aggregation by performing the sum of the value of all fields that measure the level of technology and electronic devices in the home
family_df_skip_nan['tech_at_home_score'] = family_df_skip_nan[['f9d', 'f9e', 'f9f', 'f9g', 'f10n']].agg(sum_skip_na, axis=1)
family_df_skip_nan = family_df_skip_nan.drop(['f9d', 'f9e', 'f9f', 'f9g', 'f10n'], axis=1)

# Aggregation that specifies how much students see reading and how much parents read to their children
family_df_skip_nan['see_adult_read'] = family_df_skip_nan[['f12a', 'f12b']].agg(sum_skip_na, axis=1)
family_df_skip_nan = family_df_skip_nan.drop(['f12a', 'f12b'], axis=1)

# Aggregation by making the sum of all visits the student receives, from mother, father, and other relatives
family_df_skip_nan['visit_in_school_by_people'] = family_df_skip_nan[['f14a', 'f14b', 'f14c']].agg(sum_skip_na, axis=1)
family_df_skip_nan = family_df_skip_nan.drop(['f14a', 'f14b', 'f14c'], axis=1)

# Aggregation of average parental interest in interviews
family_df_skip_nan['interest_in_interview'] = family_df_skip_nan[['f15a', 'f15b', 'f15c', 'f15d', 'f15e', 'f15f']].agg(mean_skip_na, axis=1)
family_df_skip_nan = family_df_skip_nan.drop(['f15a', 'f15b', 'f15c', 'f15d', 'f15e', 'f15f'], axis=1)

# Aggregation by averaging the help they receive at home from parents 
family_df_skip_nan['support_at_home'] = family_df_skip_nan[['f16a', 'f16b', 'f16c', 'f16d', 'f16e', 'f16f']].agg(mean_skip_na, axis=1)
family_df_skip_nan = family_df_skip_nan.drop(['f16a', 'f16b', 'f16c', 'f16d', 'f16e', 'f16f'], axis=1)

# Aggregation by averaging the frequency of participation by parents in school activities
family_df_skip_nan['parent_involved_in_school_activities'] = family_df_skip_nan[['f17a', 'f17b', 'f17c', 'f17d']].agg(mean_skip_na, axis=1)
family_df_skip_nan = family_df_skip_nan.drop(['f17a', 'f17b', 'f17c', 'f17d'], axis=1)

# Aggregation by averaging parents satisfaction about the school
family_df_skip_nan['family_satisfaction'] = family_df_skip_nan[['f18a', 'f18b', 'f18c', 'f18d', 'f18e', 'f18f', 'f18g', 'f18h', 'f18i']].agg(mean_skip_na, axis=1)
family_df_skip_nan = family_df_skip_nan.drop(['f18a', 'f18b', 'f18c', 'f18d', 'f18e', 'f18f', 'f18g', 'f18h', 'f18i'], axis=1)

# Aggregation by averaging satisfaction from parents with teachers
family_df_skip_nan['parent_involved_in_school_activities'] = family_df_skip_nan[['f19a', 'f19b', 'f19c', 'f19d', 'f19e']].agg(mean_skip_na, axis=1)
family_df_skip_nan = family_df_skip_nan.drop(['f19a', 'f19b', 'f19c', 'f19d', 'f19e'], axis=1)
# Aggregation by making the sum of all household earnings 
family_df_skip_nan['income'] = family_df_skip_nan[['f33a', 'f33b', 'f33c', 'f33d', 'f33e', 'f33f', 'f33g', 'f33h', 'f34']].agg(sum_skip_na, axis=1)
family_df_skip_nan = family_df_skip_nan.drop(['f33a', 'f33b', 'f33c', 'f33d', 'f33e', 'f33f', 'f33g', 'f33h', 'f34'], axis=1)

In [15]:
family_df_skip_nan

,f0,f1n,f2an,f2bn,f3a,f3b,f4a,f4b,f5a,f5b,...,ESCS,lecture_at_home_score,tech_at_home_score,see_adult_read,visit_in_school_by_people,interest_in_interview,support_at_home,parent_involved_in_school_activities,family_satisfaction,income
id_student,,,,,,,,,,,,,,,,,,,,,
1,1.0,3.0,43.0,47.0,7.0,3.0,1.0,3.0,1.0,2.0,...,0.235340,20.0,19.0,7.0,7.0,4.000000,4.000000,1.6,3.750000,0.0
3,1.0,4.0,45.0,41.0,3.0,5.0,3.0,1.0,1.0,1.0,...,0.261451,13.0,12.0,4.0,6.0,4.000000,4.000000,3.0,2.222222,0.0
4,1.0,4.0,39.0,41.0,5.0,5.0,1.0,1.0,1.0,1.0,...,0.787122,14.0,11.0,6.0,5.0,4.000000,4.000000,1.8,5.000000,0.0
5,2.0,4.0,39.0,41.0,9.0,7.0,1.0,1.0,1.0,2.0,...,3.151773,16.0,17.0,7.0,6.0,NaN,3.666667,2.4,4.000000,0.0
6,1.0,5.0,25.0,29.0,3.0,3.0,3.0,3.0,NaN,NaN,...,-1.627731,11.0,18.0,4.0,5.0,4.000000,4.000000,2.0,4.333333,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83852,1.0,3.0,33.0,39.0,4.0,NaN,3.0,1.0,1.0,1.0,...,-0.458169,10.0,18.0,7.0,7.0,3.333333,4.000000,5.0,4.777778,12.0
83854,1.0,3.0,45.0,44.0,7.0,7.0,1.0,1.0,2.0,2.0,...,0.761954,10.0,9.0,10.0,4.0,3.333333,3.750000,5.0,3.555556,10.0
83855,2.0,4.0,40.0,42.0,5.0,5.0,1.0,1.0,1.0,1.0,...,0.633218,10.0,22.0,3.0,6.0,3.500000,3.750000,5.0,4.777778,6.0
83856,1.0,5.0,40.0,NaN,2.0,NaN,1.0,NaN,4.0,4.0,...,-1.506239,8.0,17.0,2.0,10.0,3.000000,1.750000,5.0,4.888889,11.0
83857,1.0,5.0,41.0,51.0,4.0,3.0,2.0,1.0,1.0,1.0,...,-0.309953,10.0,15.0,10.0,6.0,4.000000,4.000000,2.4,2.888889,4.0