# Imports

In [2]:
import os

import pandas as pd

from macros import column_groups, DATA_PATH, DATA_SPLIT_PATH, ORIGINAL_DATASET_NAME

# Loading

In [3]:
df = pd.read_csv(os.path.join(DATA_SPLIT_PATH, "student_questionnaire.csv"), low_memory=False)
df = df.set_index("id_student")
df

,a1,a2,a3a,a3b,living_with_father_mother,a3c,a3d,a3et,a3f,a4,...,a163k,a166f,a166k,a171h,a177d,a211a,a222b,country_iso_cnac,country_iso_nac,weight
id_student,,,,,,,,,,,,,,,,,,,,,
1,2.0,2007.0,1.0,1.0,1.0,NaN,1.0,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,2007.0,1.0,1.0,1.0,1.0,2.0,2.0,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.0,2007.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,2007.0,1.0,1.0,1.0,1.0,2.0,2.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2.0,2007.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83853,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,1.0,NaN,NaN,NaN,NaN,2.0,2.0,NaN,NaN,NaN
83854,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,1.0,NaN,NaN,NaN,NaN,4.0,4.0,NaN,NaN,NaN
83855,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,2.0,NaN,NaN,NaN,NaN,4.0,4.0,NaN,NaN,NaN
83856,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,1.0,NaN,NaN,NaN,NaN,3.0,2.0,NaN,NaN,NaN
83857,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,3.0,NaN,NaN,NaN,NaN,4.0,3.0,NaN,NaN,NaN

In [4]:
# Load identifiers and change float columns to int
ids = pd.read_csv(os.path.join(DATA_SPLIT_PATH, "identifiers.csv"), low_memory=False)
ids = ids.set_index("id_student")
int_identifiers = [col for col in ids.columns if col not in ["id_class_group"]]
ids[int_identifiers] = ids[int_identifiers].astype('Int64')
ids

,id_student_original,id_year,id_grade,id_class_group,id_school,id_student_16_19,id_school_16_19
id_student,,,,,,,
1,33613,2016,3,A,2415,14374,569
2,19294,2016,3,A,1842,8001,273
3,19587,2016,3,NaN,1432,8142,82
4,29985,2016,3,A,2280,12800,505
5,6982,2016,3,A,2040,2606,390
...,...,...,...,...,...,...,...
83853,2500,2019,6,B,1278,<NA>,271
83854,5784,2019,6,A,1079,<NA>,78
83855,7708,2019,6,X,1486,3036,459
83856,18965,2019,6,B,1036,9913,36
83857,7652,2019,6,A,1173,5539,169

In [5]:
df = pd.merge(ids, df, left_index=True, right_index=True)
df

,id_student_original,id_year,id_grade,id_class_group,id_school,id_student_16_19,id_school_16_19,a1,a2,a3a,...,a163k,a166f,a166k,a171h,a177d,a211a,a222b,country_iso_cnac,country_iso_nac,weight
id_student,,,,,,,,,,,,,,,,,,,,,
1,33613,2016,3,A,2415,14374,569,2.0,2007.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,19294,2016,3,A,1842,8001,273,1.0,2007.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,19587,2016,3,NaN,1432,8142,82,2.0,2007.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,29985,2016,3,A,2280,12800,505,1.0,2007.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6982,2016,3,A,2040,2606,390,2.0,2007.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83853,2500,2019,6,B,1278,<NA>,271,2.0,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,2.0,2.0,NaN,NaN,NaN
83854,5784,2019,6,A,1079,<NA>,78,2.0,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,4.0,4.0,NaN,NaN,NaN
83855,7708,2019,6,X,1486,3036,459,1.0,NaN,NaN,...,2.0,NaN,NaN,NaN,NaN,4.0,4.0,NaN,NaN,NaN
83856,18965,2019,6,B,1036,9913,36,2.0,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,3.0,2.0,NaN,NaN,NaN
83857,7652,2019,6,A,1173,5539,169,1.0,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,4.0,3.0,NaN,NaN,NaN

# Pre-processing

In [6]:
# Get unique ids from student_16_19
unique_student_16_19 = df["id_student_16_19"].dropna().unique()

In [7]:
# Get distinct tuples of student_16_19 and sex
student_sex_dict = df[["id_student_16_19", "a1"]].dropna().drop_duplicates().set_index("id_student_16_19").to_dict("index")

# This check below is the same, just more complicated, but if the number differ there is an issue
# df.loc[
#     df["id_student_16_19"].isin(unique_student_16_19), ["id_student_16_19", "a1"]
#     ].dropna().drop_duplicates().set_index("id_student_16_19").to_dict("index")

# Just cleaning the retrieved dict
student_sex_dict = {
    key: int(value["a1"])
    for key, value in student_sex_dict.items()
}

In [8]:
# Get the rows to fix
rows_to_fix = df[(~df["id_student_16_19"].isna()) & (df["a1"].isna())]
indecies_to_fix = rows_to_fix.index
rows_to_fix

,id_student_original,id_year,id_grade,id_class_group,id_school,id_student_16_19,id_school_16_19,a1,a2,a3a,...,a163k,a166f,a166k,a171h,a177d,a211a,a222b,country_iso_cnac,country_iso_nac,weight
id_student,,,,,,,,,,,,,,,,,,,,,
3743,34261,2016,3,NaN,1436,14663,84,NaN,2007.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20740,15470,2016,6,B,2520,6333,301,NaN,2004.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21594,23946,2016,6,A,1895,10060,321,NaN,2004.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21643,36360,2016,6,A,2471,15619,596,NaN,2004.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22204,37765,2016,6,C,2455,16232,588,NaN,2003.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81016,7736,2019,6,A,1078,2949,77,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,3.0,4.0,NaN,NaN,NaN
81341,7173,2019,6,C,1496,12693,469,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,4.0,3.0,NaN,NaN,NaN
81789,3074,2019,6,A,1176,1874,172,NaN,NaN,NaN,...,2.0,NaN,NaN,NaN,NaN,2.0,2.0,NaN,NaN,NaN
82847,16936,2019,6,B,1010,81,10,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,4.0,3.0,NaN,NaN,NaN
83298,20665,2019,6,C,1379,5091,357,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,3.0,2.0,NaN,NaN,NaN

In [9]:
def replace_sex(row):
    if row["id_student_16_19"] in student_sex_dict.keys():
        row["a1"] = student_sex_dict[row["id_student_16_19"]]
    return row

df = df.apply(replace_sex, axis=1)
df.filter(items = indecies_to_fix, axis=0)

,id_student_original,id_year,id_grade,id_class_group,id_school,id_student_16_19,id_school_16_19,a1,a2,a3a,...,a163k,a166f,a166k,a171h,a177d,a211a,a222b,country_iso_cnac,country_iso_nac,weight
id_student,,,,,,,,,,,,,,,,,,,,,
3743,34261,2016,3,NaN,1436,14663,84,NaN,2007.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20740,15470,2016,6,B,2520,6333,301,2.0,2004.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21594,23946,2016,6,A,1895,10060,321,1.0,2004.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21643,36360,2016,6,A,2471,15619,596,1.0,2004.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22204,37765,2016,6,C,2455,16232,588,2.0,2003.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81016,7736,2019,6,A,1078,2949,77,1.0,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,3.0,4.0,NaN,NaN,NaN
81341,7173,2019,6,C,1496,12693,469,2.0,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,4.0,3.0,NaN,NaN,NaN
81789,3074,2019,6,A,1176,1874,172,1.0,NaN,NaN,...,2.0,NaN,NaN,NaN,NaN,2.0,2.0,NaN,NaN,NaN
82847,16936,2019,6,B,1010,81,10,2.0,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,4.0,3.0,NaN,NaN,NaN
83298,20665,2019,6,C,1379,5091,357,1.0,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,3.0,2.0,NaN,NaN,NaN